fastapi[standard]
pydantic
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-prometheus
opentelemetry-exporter-jaeger
opentelemetry-semantic-conventions
opentelemetry-instrumentation-asgi
prometheus-fastapi-instrumentator
